
.folder{
    // height: 40rem;
    background-color: #c47a310a;
    padding-bottom: 5rem;
}
.content{
    padding-top: 100px;
}
h4{
    width: 100%;
    background-color: #e9e7e5;
    padding: 20px 0;
    padding-left: 50px;
}
i{
    color: rgb(106, 59, 225);
}
input{
    display: none;
}

.showBlock{
display: block;
}
.renameInput{
    display: block;

}
.hide{
    display: none;
}
.fileName{
    display: none;

}
#inputModel{
display: block;
padding: 20px 0;
}
.myModell{
    display: none;
}
p{
  font-family: cursive
}
input text{
    margin-left: 5px;
}
// img:hover {
// transform: scale(2,2);
// }